/* Custom styles for React Big Calendar events */

/* Farbe für eigene Posts */
.rbc-event.rbc-event-own {
  background-color: #6200EE !important; /* Lila - !important kann notwendig sein, um die Standardstile zu überschreiben */
  color: white !important;
  border-radius: 4px !important;
}

/* Farbe für gelikte Posts */
.rbc-event.rbc-event-liked {
  background-color: #03DAC6 !important; /* Türkis - !important kann notwendig sein */
  color: white !important;
  border-radius: 4px !important;
}

/* Anpassungen für hover-Effekte (optional) */
.rbc-event.rbc-event-own:hover {
  background-color: #4B00AD !important; /* Dunkleres Lila beim Hover */
}

.rbc-event.rbc-event-liked:hover {
  background-color: #02a392 !important; /* Dunkleres Türkis beim Hover */
}